{% include base_path %}
<article class="archive__item" itemscope itemtype="http://schema.org/CreativeWork">
  <h2 class="archive__item-title" itemprop="headline">
    <a href="{{ base_path }}{{ post.url }}" rel="permalink">{{ post.title }}</a>
  </h2>

  {% if post.coauthors %}
    <p><strong>{{ post.coauthors }}</strong></p>
  {% endif %}

  {% if post.wp_series %}
    <p>
      {% if post.paperurl %}
        <a href="{{ post.paperurl }}">{{ post.wp_series }} No. {{ post.wp_number }}</a>
      {% else %}
        {{ post.wp_series }} No. {{ post.wp_number }}
      {% endif %}
    </p>
  {% elsif post.venue %}
    <p>{{ post.venue }}</p>
  {% endif %}

  {% if post.excerpt %}
    <div class="archive__item-excerpt" itemprop="description">
      {{ post.excerpt | markdownify }}
    </div>
  {% endif %}

  {% if post.paperurl and post.wp_series == nil %}
    <p><a href="{{ post.paperurl }}">Paper</a></p>
  {% endif %}
</article>
